@import "fonts";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto 30px auto;
}

p {
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  counter-reset: section;
}

h1 {
  text-align: center;
}

.list {
  margin: 16px 0 0 0;
  list-style: none;
  padding: 0;
  &__item {
    margin: 8px;
    border-bottom: 1px solid darkgrey;
    display: flex;
    justify-content: space-between;
    padding: 4px 4px 4px 30px;
    position: relative;

    img {
      margin-right: 8px;
    }

    &:before {
      color: #565754;
      counter-increment: section;
      content: counter(section);
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-60%);
    }
  }
}

.task {
  margin: 10px 0;
  font-weight: 500;
}

.total,
.average, {
  font-size: 20px;
  &-population {
    font-size: 24px;
  }
}

.nav {
  max-width: 400px;
  margin: 20px auto;
  &-link {
    display: block;
    font-weight: bold;
    font-size: 18px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
